<div class="car-header class.mat-elevation-z8">
  Instant Cash Offer :
  {{
    " " +
      selectVechileDetails?.year +
      " " +
      selectVechileDetails?.make +
      " " +
      selectVechileDetails?.model
  }}
</div>
<div class="car-stepper-content">
  <mat-stepper #stepper (selectionChange)="onStepChange($event)">
    <mat-step label="Vechile Details">
      <app-vechile-details (stepOneValidated)="validateStepperOne($event)" ></app-vechile-details>
      <mat-divider></mat-divider>
      <div *ngIf="reviewService.activateContactPage" class="w-100">
        <div class="row m-0">
          <div class="col-12 d-flex m-0 mt-3 p-0">
            <button routerLink="/contact-us" class="btn ml-auto btn-next">Next</button>
          </div>
        </div>
      </div>
      <div *ngIf="!reviewService.activateContactPage" class="w-100">
        <div class="row m-0">
          <div class="col-12 d-flex m-0 mt-3 p-0">
            <button matStepperNext [disabled]="!validator" class="btn ml-auto btn-next">Next</button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step label="Vechile Condition">
      <app-vechile-condition></app-vechile-condition>

      <mat-divider></mat-divider>
      <div class="w-100">
        <div class="row m-0">
          <div class="col-md-6 offset-1 d-flex m-0 mt-3 p-0">
            <button matStepperPrevious class="btn btn-back">Back</button>
          </div>
          <div class="col-6 d-flex m-0 mt-3 p-0">
            <button matStepperNext class="btn ml-auto btn-next">Next</button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step label="Vechile Body Condition">
      <app-vechile-body-condition></app-vechile-body-condition>

      <mat-divider></mat-divider>
      <div class="w-100">
        <div class="row m-0">
          <div class="col-6 d-flex m-0 mt-3 p-0">
            <button matStepperPrevious class="btn btn-back">Back</button>
          </div>
          <div class="col-6 d-flex m-0 mt-3 p-0">
            <button matStepperNext class="btn ml-auto btn-next">Next</button>
          </div>
        </div>
      </div>
    </mat-step>

    <mat-step label="Contact Information">
      <app-seller-contact></app-seller-contact>
      <!-- <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div> -->
      <!-- <mat-divider></mat-divider>
      <div
        _ngcontent-my-app-c41=""
        class="row m-0 smc-controlled-width w-100 btn-back"
      >
        <div _ngcontent-my-app-c41="" class="col-6 d-flex m-0 p-0">
          <button
            _ngcontent-my-app-c41=""
            class="secondary-cta mr-auto"
            fdprocessedid="lef4y2"
          >
            Back
          </button>
        </div>
        <div _ngcontent-my-app-c41="" class="col-6 d-flex m-0 p-0">
          <button
            _ngcontent-my-app-c41=""
            class="primary-cta ml-auto"
            disabled=""
          >
            Next
          </button>
        </div>
      </div> -->

      <mat-divider></mat-divider>
      <div class="w-100">
        <div class="row m-0">
          <div class="col-6 d-flex m-0 mt-3 p-0">
            <button matStepperPrevious class="btn btn-back">Back</button>
          </div>
          <div class="col-6 d-flex m-0 mt-3 p-0">
            <button matStepperNext class="btn ml-auto btn-next">Next</button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step label="Review">
      <app-review-page></app-review-page>
      <mat-divider></mat-divider>
      <div class="w-100">
        <div class="row m-0">
          <div class="col-6 d-flex m-0 mt-3 p-0">
            <button matStepperPrevious class="btn btn-back">Back</button>
          </div>
          <div class="col-6 d-flex m-0 mt-3 p-0">
            <button matStepperNext class="btn ml-auto btn-next">Next</button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step label="Instant Offer">
      <app-seller-instant-offer
        [srcImages]="srcImages"
      ></app-seller-instant-offer>
    </mat-step>

    <!-- Icon overrides. -->
    <!-- <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template> -->
  </mat-stepper>
</div>
