<div class="car-header class.mat-elevation-z8">
  CARIZMA Instant Cash Offer
  <h1>
    {{
      selectVechileDetails?.year +
        " " +
        selectVechileDetails?.make +
        " " +
        selectVechileDetails?.model
    }}
  </h1>
</div>
<div class="car-stepper-content">
  <mat-stepper>
    <mat-step label="Vechile Details" state="phone">
      <app-vechile-details></app-vechile-details>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Vechile Condition" state="chat">
      <app-vechile-condition></app-vechile-condition>

      <!-- <app-car-questionaire></app-car-questionaire> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Contact Information">
      <app-seller-contact></app-seller-contact>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Instant Offer">
      <app-seller-instant-offer></app-seller-instant-offer>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-stepper>
</div>
