<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Welcome to the CARIZMA</p>
  </div>
  <h1 class="css-1wof54m e1o1iuca3">An Official Offer to Buy Your Car</h1>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="css-1clbolf" fxFlex="30">
      <img
        src="../../../assets/images/cars-ui.png"
        alt="Kelley Blue Book"
        width="287"
        height="120"
      />
    </div>
    <div style="margin-bottom: 70px" fxFlex="70">
      <app-car-selection></app-car-selection>
    </div>
  </div>
</section>
