<div
  style="
    background-color: rgb(247, 247, 247);
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 6px;
  "
>
  <mat-card class="question-card ml-auto mr-auto">
    <mat-card-content>
      <label class="content-title required--after" id="example-radio-group-label">
        Does your {{ selectedMake }} drive?</label
      >

      <ui-switch
        class="question-slider"
        uncheckedLabel="No"
        checkedLabel="Yes"
        size="medium"
        [ngStyle]="{
          color: vechileCondition.doesCarDrive ? 'white' : 'black'
        }"
        [(ngModel)]="vechileCondition.doesCarDrive"
      ></ui-switch>

      <!-- <mat-slide-toggle
      class="question-slider"
        [(ngModel)]="vechileCondition.doesCarDrive"
      ></mat-slide-toggle> -->

      <!-- <toggle-button
        class="question-slider"
        [inputValue]="vechileCondition.doesCarDrive"
      ></toggle-button> -->

      <!-- <span style="float: right; margin-left: auto">
        <app-switch-html
          [switchData]="false"
          (switchValue)="doesCarDriveEvent($event)"
        ></app-switch-html> -->
      <!-- <app-switch-html id="rock" name="rock"></app-switch-html> -->
      <!-- </span> -->
      <!-- <br /> -->
    </mat-card-content>
  </mat-card>

  <ng-container *ngIf="!vechileCondition.doesCarDrive">
    <mat-card class="question-card ml-auto mr-auto">
      <mat-card-content>
        <label class="content-title" id="example-radio-group-label"
          >Does your {{ selectedMake }} start?</label
        >
        &nbsp;&nbsp;
        <ui-switch
          class="question-slider"
          uncheckedLabel="No"
          checkedLabel="Yes"
          size="medium"
          [ngStyle]="{
            color: vechileCondition.doesCarStart ? 'white' : 'black'
          }"
          [(ngModel)]="vechileCondition.doesCarStart"
        ></ui-switch>
        <!-- <mat-slide-toggle
          class="question-slider"
          [(ngModel)]="vechileCondition.doesCarStart"
        ></mat-slide-toggle> -->

        <!-- <span style="float: right; margin-left: auto">
          <app-switch-html></app-switch-html>
        </span> -->
        <!-- <br /> -->
      </mat-card-content>
    </mat-card>

    <mat-card class="question-card ml-auto mr-auto">
      <mat-card-content>
        <label class="content-title" id="example-radio-group-label"
          >Are the engines and transmission in the {{ selectedMake }}?</label
        >

        <ui-switch
          class="question-slider"
          uncheckedLabel="No"
          checkedLabel="Yes"
          size="medium"
          [ngStyle]="{
            color: vechileCondition.carEngineandTransmission ? 'white' : 'black'
          }"
          [(ngModel)]="vechileCondition.carEngineandTransmission"
        ></ui-switch>
        <!-- <br>
        <span style="float: right; margin-left: auto">
          <mat-slide-toggle
            [(ngModel)]="vechileCondition.carEngineandTransmission"
          ></mat-slide-toggle>
        </span> -->
      </mat-card-content>
    </mat-card>
  </ng-container>
  <!-- $7a -->
  <mat-card class="question-card ml-auto mr-auto">
    <mat-card-content>
      <label class="content-title" id="example-radio-group-label"
        >Does your {{ selectedMake }} have any mechanical issues?</label
      >
      <ui-switch
        class="question-slider"
        uncheckedLabel="No"
        checkedLabel="Yes"
        size="medium"
        [(ngModel)]="vechileCondition.doesCarHaveMechanicalIssues"
        [ngStyle]="{
          color: vechileCondition.doesCarHaveMechanicalIssues
            ? 'white'
            : 'black'
        }"
      ></ui-switch>
      <!-- <span style="float: right; margin-left: auto">
        <mat-slide-toggle
          [(ngModel)]="vechileCondition.doesCarHaveMechanicalIssues"
        ></mat-slide-toggle>
      </span> -->
      <!-- <mat-slide-toggle
        class="question-slider"
        [(ngModel)]="vechileCondition.doesCarNedsMechanicalWork"
      ></mat-slide-toggle> -->

      <!-- <br /> -->
    </mat-card-content>
  </mat-card>

  <!-- vechileCondition.externalConditions -->
</div>
<!-- {{ selectVechileDetails | json }}

{{ vechileCondition | json }} -->
