.sell-car-l1 {
  background-image: url("../../../assets/images/v02.jpg");
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  /* margin: 10px; */
  /* width: -webkit-fill-available;
  height: -webkit-fill-available; */
  background-color: rgb(255, 255, 255);
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Overlay color with transparency */
  z-index: 999;
  /* Higher z-index to ensure it's on top of other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-section {
  background: url("../../../assets/images/v02.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: scroll;
  /* Adjust this line */
}

.vh-100 {
  height: 100vh;
}


.img-fit {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.sell-car-l2 {
  background-image: url("../../../assets/images/main page 03.jpg");

  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* margin: 10px; */
  background-color: rgb(255, 255, 255);
}

.full {
  width: 100%;
  height: 100vh;
}

/* .sell-car-l1 img {
  height: auto;
  width: 100%;
  object-fit: cover;
} */

@media only screen and (max-width: 600px) {
  .sell-car-l1 {
    height: 415px;
  }
}

.mainImageDescription .formNavi .lightButton {
  font-size: 17px;
  margin-top: 25px;
  font-weight: 400;
  border-radius: 5px;
  padding: 10px 17px 10px 16px;
  border: 1px solid #0f284c;
  color: #0f284c;
  background-color: rgba(255, 255, 255, 0.5);
}

.lightButton {
  border-radius: 5px;
  background-color: #fff;
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
}

.learnMoreVideo {
  display: none;
  position: relative;
  z-index: 1000;
}

.Car-selection-view {
  height: 40%;
  width: 35%;
  /* margin: 14% 0 10% 29%; */
  min-width: 400px;
  max-width: 650px;

  min-height: 450px;

  /* height: 40%; */
  /* width: 100%;
     margin: 14% 0 10% 29%; 
    min-width: 400px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.page-2 {
  background-color: rgb(245, 245, 245);
  padding: 64px;
  overflow: hidden;
}

.container1 {
  position: relative;
  width: 50%;
  overflow: hidden;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  border: none;
}

.page-2-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  -webkit-box-pack: start;
  justify-content: start;
}

.page-2-2 {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 32px;
}

.jaisQK {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 32px;
}

.iXQjNr {
  display: none;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.minjj {
  display: none;
  font-size: 48px;
  padding-bottom: 32px;
}

.kKOpok {
  margin: 0px;
  font-family: "Vroom Sans";
  font-weight: normal;
  letter-spacing: 1px;
  color: rgb(4, 16, 34);
  font-size: 48px;
  line-height: 64px;
}

.jSaZMw {
  width: 100%;
  padding-left: 64px;
  object-fit: contain;
}

.jTyTXK {
  flex-direction: column;
  width: 100%;
  max-width: 638px;
}

.lbQHtc {
  padding-bottom: 32px;
}

.bwHlGm {
  display: block;
  margin: 0px;
  padding-bottom: 8px;
}

.jkciWK {
  font-family: Calibre;
  font-weight: 600;
  letter-spacing: 0.25px;
  color: rgb(4, 16, 34);
  font-size: 28px;
  line-height: 32px;
}

.kGQxeN {
  font-family: Calibre;
  font-weight: normal;
  letter-spacing: 0.25px;
  color: rgb(4, 16, 34);
  font-size: 18px;
  line-height: 24px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.kGQxeN {
  font-family: Calibre;
  font-weight: normal;
  letter-spacing: 0.25px;
  color: rgb(4, 16, 34);
  font-size: 18px;
  line-height: 24px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.video-window {
  margin-left: 85px;
  width: 45%;
  height: 45%;
}

.daQNN {
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.jSaZMw {
  width: 100%;
  padding-left: 64px;
  object-fit: contain;
}

.dzeCuD {
  font-size: 48px !important;
  padding-bottom: 32px;
  font-family: fantasy !important;
}

.kKOpok {
  margin: 0px;
  font-family: "Vroom Sans";
  font-weight: normal;
  letter-spacing: 1px;
  color: rgb(4, 16, 34);
  font-size: 48px;
  line-height: 64px;
}

.img-gradient {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#ScrollTopBtn.scroll-top {
  display: block;
}

#ScrollTopBtn.scroll-top {
  display: block;
}

#ScrollTopBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  font-size: 18px;
  border: none;
  outline: none;
  background: #fff;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 4px solid #e6ecef;
  box-shadow: 0 0 4px 0 rgba(153, 134, 134, 0.1);
}

#ScrollTopBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  font-size: 18px;
  border: none;
  outline: none;
  background: #fff;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 4px solid #e6ecef;
  box-shadow: 0 0 4px 0 rgba(153, 134, 134, 0.1);
}

a {
  color: #1179ef;
  text-decoration: none;
  cursor: pointer;
}


.testimonial-section {
  background-color: #f8f9fa;
  padding: 80px 0;
}

.testimonial {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.testimonial-content {
  font-size: 18px;
  margin-bottom: 20px;
}

.testimonial-author img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.testimonial-author h5 {
  margin-bottom: 5px;
  font-weight: 600;
}

.testimonial-author p {
  color: #888;
}