<section fxLayout="column">
  <div class="sell-car-l1">
    <div
      class="car-selection-space Car-selection-view"
      style="box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 6px; z-index: 2"
    >
      <app-car-selection></app-car-selection>
    </div>
  </div>
</section>
<!-- 
<div>
  <a href="/" class="lightButton learnMore"><span>Watch Demo</span></a>
</div>
<div class="learnMoreVideo" style="display: none">
  <div class="close"></div>
  <iframe
    id="youtubePlayer"
    width="490"
    height="276"
    frameborder="0"
    src="https://www.youtube.com/embed/Tq2Uv8YPIgI?rel=0&amp;autoplay=1"
  ></iframe>
</div> -->
