<section fxLayout="column">
  <div class="sell-car-l1" id="GoTop">
    <div class="Car-selection-view">
      <app-car-selection
        style="box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 16px; z-index: 12"
      ></app-car-selection>
    </div>
  </div>
  <div class="page-2">
    <div class="sc-eShwew jaisQK">
      <div class="sc-cYZqiH iXQjNr">
        <h2 class="sc-gTRrQi sc-geCvda kKOpok minjj">how it works</h2>
        <video
          src="https://assets.vroomcdn.com/static-rebrand/video/how-to-sell-5-4-2021.mp4"
          controls=""
          typeof="video/mp4"
          poster="https://assets.vroomcdn.com/static-rebrand/img/sell/how-to-sell-thumbnail.png"
          data-qa="video"
          class="sc-eApCZl jSaZMw"
        ></video>
      </div>
      <div class="sc-jdWxax jTyTXK">
        <h2 class="sc-gTRrQi sc-enGQan kKOpok dzeCuD">how it works</h2>
        <div class="sc-frdOdM lbQHtc">
          <h3 class="sc-dicizt sc-jDJGMm jkciWK bwHlGm">
            Tell us about your car
          </h3>
          <span class="sc-kPTPQs sc-cAcYjr kGQxeN ccdYMh"
            >Here's what we ask for:</span
          ><span class="sc-kPTPQs sc-jCSOZN kGQxeN"
            ><ul class="sc-iGpXO exAOGw">
              <li class="sc-euvqTP cQxMhG">License Plate or VIN</li>
              <li class="sc-euvqTP cQxMhG">Trim (LE, SE, SLT, etc)</li>
              <li class="sc-euvqTP cQxMhG">Exact mileage</li>
              <li class="sc-euvqTP cQxMhG">Vehicle condition</li>
              <li class="sc-euvqTP cQxMhG">Vehicle history</li>
            </ul></span
          >
        </div>
        <div class="sc-frdOdM lbQHtc">
          <h3 class="sc-dicizt sc-jDJGMm jkciWK bwHlGm">Get your price</h3>
          <span class="sc-kPTPQs sc-cAcYjr kGQxeN ccdYMh"
            >We'll give you an instant price for your vehicle that is good for 7
            days or 250 additional miles (whichever comes first). If we're
            unable to calculate an instant price, one of our car-buying experts
            will email you a price typically within the same day.</span
          >
        </div>
        <div class="sc-frdOdM lbQHtc">
          <h3 class="sc-dicizt sc-jDJGMm jkciWK bwHlGm">
            We pick it up. You get paid.
          </h3>
          <span class="sc-kPTPQs sc-cAcYjr kGQxeN ccdYMh"
            >We’ll schedule a time to come pick up your vehicle, free of charge.
            Once we have your car, we’ll send your payment.</span
          >
        </div>
      </div>

      <div
        class="sc-kcFYLC daQNN"
        style="padding-right: 95px; align-items: center"
      >
        <div class="container">
          <iframe
            id="youtubePlayer"
            width="490"
            height="276"
            frameborder="0"
            src="https://www.youtube.com/embed/Tq2Uv8YPIgI?rel=0"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="sell-car-l2">
    <img src="assets/images/main page 03.jpg" class="img-fit" />
  </div>
  <div id="ScrollTop">
    <a href="#GoTop" id="ScrollTopBtn" title="Go to top" class="scroll-top"
      ><span></span
    ></a>
  </div>
</section>
<!-- 
<div>
  <a href="/" class="lightButton learnMore"><span>Watch Demo</span></a>
</div>
<div class="learnMoreVideo" style="display: none">
  <div class="close"></div>
  <iframe
    id="youtubePlayer"
    width="490"
    height="276"
    frameborder="0"
    src="https://www.youtube.com/embed/Tq2Uv8YPIgI?rel=0&amp;autoplay=1"
  ></iframe>
</div> -->
