<div style="background-color: whitesmoke; padding: 25px">
  <mat-card class="question-card">
    <mat-card-content>
      <div fxLayout="column" class="seller-contact">
        <div class="pricingtable">
          <div class="top">
            <h2>Basic</h2>
          </div>

          <ul>
            <li><strong>Full</strong> Email Support</li>
            <li><strong>25GB</strong> of Storage</li>
            <li><strong>5</strong> Domains</li>
            <li><strong>10</strong> Email Addresses</li>
          </ul>

          <hr />

          <h1><sup>$</sup>25</h1>
          <p>per month</p>

          <a href="#">Sign Up</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
