<div style="background-color: whitesmoke; padding: 25px">
  <!--  -->
  <!-- <mat-card class="question-card">
    <mat-card-content>
      <div fxLayout="column" class="seller-contact">
        <div class="pricingtable">
          <div class="top">
            <h2>Basic</h2>
          </div>

          <ul>
            <li><strong>Full</strong> Email Support</li>
            <li><strong>25GB</strong> of Storage</li>
            <li><strong>5</strong> Domains</li>
            <li><strong>10</strong> Email Addresses</li>
          </ul>

          <hr />

          <h1><sup>$</sup>25</h1>
          <p>per month</p>

          <a href="#">Sign Up</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card> -->

  <div
    id="vehica-car-9664"
    data-id="9664"
    class="vehica-car-card-row-wrapper vehica-car"
  >
    <div class="vehica-car-card-row">
      <a class="vehica-car-card-link"></a>
      <div class="vehica-car-card-row__inner">
        <div class="vehica-car-card-row__image">
          <div class="vehica-car-card__featured">
            <div class="vehica-car-card__featured__inner">Best Offer</div>
          </div>
          <div class="vehica-car-card__image-bg">
            <div class="vehica-car-card__image" style="padding-top: 55.5224%">
              <img
                src="../../../assets/images/IMG_3302.PNG"
                data-sizes="auto"
                alt="Bentley Mulsanne 4-door sedan blue"
                class="lazyautosizes lazyloaded"
                sizes="248px"
              />
              <div class="vehica-car-card__image-info">
                <span class="vehica-car-card__image-info__photos"
                  ><i class="far fa-images"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div><!----></div>
        <div class="vehica-car-row__content">
          <span
            title="Bentley Mulsanne 4-door sedan blue"
            class="vehica-car-card-row__name"
          >
            {{
              " " +
                selectVechileDetails?.year +
                " " +
                selectVechileDetails?.make +
                " " +
                selectVechileDetails?.model
            }}
          </span>
          <div
            class="vehica-car-card__price-mobile"
            style="color: #08a182 !important"
          >
            $14,900
          </div>
          <div class="vehica-car-card-row__secondary-attributes">
            <span class="vehica-car-card-row__secondary-attribute"
              ><span class="vehica-car-card-row__secondary-attribute__value"
                ><span>Blind spot alert</span>
                <span class="vehica-car-card-row__secondary-attribute__comma"
                  >,</span
                ></span
              ></span
            >
            <span class="vehica-car-card-row__secondary-attribute"
              ><span class="vehica-car-card-row__secondary-attribute__value"
                ><span>Bluetooth</span>
                <span class="vehica-car-card-row__secondary-attribute__comma"
                  >,</span
                ></span
              ></span
            >
            <span class="vehica-car-card-row__secondary-attribute"
              ><span class="vehica-car-card-row__secondary-attribute__value"
                ><span>Keyless start</span>
                <span class="vehica-car-card-row__secondary-attribute__comma"
                  >,</span
                ></span
              ></span
            >
            <span class="vehica-car-card-row__secondary-attribute"
              ><span class="vehica-car-card-row__secondary-attribute__value"
                ><span>LED headlights</span>
                <span class="vehica-car-card-row__secondary-attribute__comma"
                  >,</span
                ></span
              ></span
            >
            <span class="vehica-car-card-row__secondary-attribute"
              ><span class="vehica-car-card-row__secondary-attribute__value"
                ><span>Navigation System</span>
                <span class="vehica-car-card-row__secondary-attribute__comma"
                  >,</span
                ></span
              ></span
            >
            <span class="vehica-car-card-row__secondary-attribute"
              ><span class="vehica-car-card-row__secondary-attribute__value"
                ><span>Reversing camera</span>
                <span class="vehica-car-card-row__secondary-attribute__comma"
                  >,</span
                ></span
              ></span
            >
          </div>
          <div class="vehica-car-card__info">
            <div class="vehica-car-card__info__single">
              <i class="fas fa-circle"></i> <span>2017</span>
            </div>
            <div class="vehica-car-card__info__single">
              <i class="fas fa-circle"></i> <span>210,000 miles</span>
            </div>
            <!-- <div class="vehica-car-card__info__single">
              <i class="fas fa-circle"></i> <span>Manual</span>
            </div>
            <div class="vehica-car-card__info__single">
              <i class="fas fa-circle"></i> <span>Petrol</span>
            </div>
            <div class="vehica-car-card__info__single">
              <i class="fas fa-circle"></i> <span>Rear Wheel Drive</span>
            </div> -->
          </div>
          <div class="vehica-car-card-row__info-more">
            <span class="vehica-car-card-row__info-more__label">
              Location: </span
            ><span class="vehica-car-card-row__info-more__value">
              Nashville, TN, USA
            </span>
          </div>
        </div>
        <div class="vehica-car-card-row__right">
          <div>
            <div class="vehica-car-card-row__favorite">
              <i class="far fa-star"></i>
            </div>
            <!---->
          </div>
          <div class="vehica-car-card-row__price-desktop">$14,900</div>
          <div class="vehica-car-card-row__calculate">
            <a title="" target="_blank"><span>Best Deal</span></a>
          </div>
        </div>

        <br />
      </div>
      <div class="row mr-10">
        <div class="col-md-6"></div>
        <div class="col-md-3">
          <button type="button" class="btn btn-success offer-btn">
            <mat-icon>thumb_up</mat-icon> &nbsp;Approve Offer
          </button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-danger offer-btn">
            <mat-icon>thumb_down</mat-icon> &nbsp; Reject
          </button>
        </div>
      </div>
      <br />
      <br />
    </div>
    <br />
  </div>
</div>
