/* .mat-tab-list .mat-tab-labels {
  color: black;
  font-size: large;
  font-weight: bold;
}

.mat-tab-list .mat-tab-labels .mat-tab-label-active {
  font-weight: bolder;
}

.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  color: black;
  font-weight: 700;
}

/* Styles for the active tab label */
/* .mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  color: black;
  font-weight: 900;
} */

/* css-1clbolf {
  width: 100%;
  background-image: url(/instant-cash-offer/Landing/Gradient.png);
  background-repeat: no-repeat;
  background-position: 50% 80px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-size: contain;
  padding-bottom: 16px;
}

.css-j0sx4m {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(195, 195, 195);
  border-radius: 4px;
  padding: 8px;
}

css-1bq0zhg {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 8px;
  max-width: 277px;
  min-width: 277px;
}
css-1clbolf {
  width: 100%;
  background-image: url(../../../assets/images/car-background-Gradient.png);
  background-repeat: no-repeat;
  background-position: 50% 80px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-size: contain;
  padding-bottom: 16px;
} */
/* 
.mat-tab-height {
  height: 550px;
} */
/* 
.car-selection-container mat-form-field + mat-form-field {
  margin-left: 8px;
} */
/* .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 8px important;
  padding-bottom: 8px important;
} */
/* ::ng-deep {
  .mat-form-field-infix {
    border: 0px !important;
  }
  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: none !important;
  }
} */
/* :host {
  ::ng-deep .mat-card {
    background-color: transparent;
  }
} */
/* 
mat-card::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.2;
  background: linear-gradient(to top, #f1eaeb 100%, #fff8f9 50%, #c4d0df 100%);

  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% 100%;
  filter: blur(10px);
  -webkit-filter: blur(10px);
} */
.card11 {
  border: 4px solid #c9dde4;
  border-width: 4px;
  /* border-color: #757575; */
  background-image: #fff;
  width: 100%;
}

.mat-tab-group {
  width: 100%;
}

/* Media query for mobile view */
@media (max-width: 600px) {
  .mat-tab-group {
    flex-direction: column; /* Tabs stack vertically */
  }
}
/* Styles for tab labels */
.mat-tab-label {
  min-width: 10px !important;
  padding: 5px;
  background-color: transparent;
  color: black;
  font-weight: 500;
}

/* Styles for the active tab label */
.mat-tab-label .mat-tab-label-active {
  min-width: 10px !important;
  padding: 5px;
  background-color: transparent;
  color: black !important;
  font-weight: 500;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green;
}

/* Styles for tab labels */
/* .mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: black;
  font-weight: 700;
} */

/* Styles for the active tab label */
/* .mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: black;
  font-weight: 700;
} */

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: black !important;
  font-size: larger;
  font-family: 'Roboto';
  font-weight: bolder;
}

.mat-mdc-tab .mdc-tab__text-label {
  color: black !important;
  font-size: larger;
  font-family: 'Roboto';
  font-weight: 400;
}
