<div class="conatiner">
  <!-- <div class="row float-right">
      <svg
        class="sc-dcrmVg fxJbgU sc-deNDqs kKKnEt"
        fill="#041022"
        stroke="none"
        width="12"
        height="12"
        viewBox="0 0 12 12"
      >
        <path
          d="M0.157246 1.28213L1.43857 0L6.0789 4.64036L10.5614 0.158186L11.8428 1.43941L7.36017 5.92164L12 10.5615L10.7187 11.8427L6.07865 7.20306L1.28133 12L0 10.7188L4.79732 5.92184L0.157246 1.28213Z"
        ></path>
      </svg>
  </div> -->
  <div class="row text-center">
    <button  type="button" class="btn-close ml-auto" (click)="openLink($event)" aria-label="Close"fdprocessedid="52qa2">
    </button>
    <label class="content-title text-primary">What's a vin?</label>
    
    <span class="text-secondary"
      >A Vehicle Identification Number (VIN) is like a thumbprint for your car.
      It's 17 characters long and contains numbers and letters.</span
    >
  </div>
  <mat-divider></mat-divider>
  <div class="row text-center">
    <span class="text-secondary mt-3 text-block">5N1AZ2MG9GN133457</span>
  <label class="content-title text-block">Where's my vin?</label>
  </div>
  <mat-divider></mat-divider>
    
  <div class="container row p-3">
    <div class="col-sm-12 col-md-8">
      <img
      class="car-image"
      src="../../../assets/images/where-is-vin-2.PNG"
      alt="Car with VIN hot spots."
      loading="lazy"
    />
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      
          <ul>
            <li>Under the hood (up front)</li>
            <li>Driver’s side interior dash.</li>
            <li>Driver door jam (opened door)</li>
            <li>Rear wheel wall</li>
            <li>
              Under your spare tire in the trunk
            </li>
          </ul>
    </div>
  </div>
  <!-- <div class="sc-fkuNvB cNMQAo">
    <span class="sc-ispOId sc-cydatY kHcibE bfnocf"
      >1. Under the hood (up front).</span
    ><span class="sc-ispOId sc-cydatY kHcibE bfnocf"
      >2. Driver’s side interior dash.</span
    ><span class="sc-ispOId sc-cydatY kHcibE bfnocf"
      >3. Driver door jam (opened door)</span
    ><span class="sc-ispOId sc-cydatY kHcibE bfnocf">4. Rear wheel wall</span
    ><span class="sc-ispOId sc-cydatY kHcibE bfnocf"
      >5. Under your spare tire in the trunk.</span
    >
  </div> -->
  <dl class="row">
    <dt class="col-sm-6"
      >Your VIN can also be found on the following documents:</dt
    ><dd class="col-sm-6"
      >Registration, vehicle title, owner’s manual, insurance documents, and
      vehicle history reports.</dd
    >
  </dl>
</div>
