<div class="sc-gaidzC hqGfKS">
  <div class="sc-eVmQbm cVuVat">
    <button class="sc-gUMnWI hOVATj sc-bnRYnF hEQOKz" fdprocessedid="52qa2">
      <svg
        class="sc-dcrmVg fxJbgU sc-deNDqs kKKnEt"
        fill="#041022"
        stroke="none"
        width="12"
        height="12"
        viewBox="0 0 12 12"
      >
        <path
          d="M0.157246 1.28213L1.43857 0L6.0789 4.64036L10.5614 0.158186L11.8428 1.43941L7.36017 5.92164L12 10.5615L10.7187 11.8427L6.07865 7.20306L1.28133 12L0 10.7188L4.79732 5.92184L0.157246 1.28213Z"
        ></path>
      </svg>
    </button>
  </div>
  <div class="sc-flLwwW kPcYpn">
    <h3 class="sc-ewnqHT sc-cVVGlL gdGife">What's a vin?</h3>
    <span class="sc-kPTPQs sc-hYdjyz kGQxeN SBfzF"
      >A Vehicle Identification Number (VIN) is like a thumbprint for your car.
      It's 17 characters long and contains numbers and letters.</span
    >
  </div>
  <div class="sc-dvmjMc bvEvXm">
    <span class="sc-kPTPQs sc-ghDWNF kGQxeN izpARp">5N1AZ2MG9GN133457</span>
  </div>
  <h4 class="sc-fFGjHI sc-eoCneS bmsBnH gZlfUg">Where's my vin?</h4>
  <div class="sc-haUagv fugKxa">
    <img
      width="100%"
      src="../../../assets/images/where-is-vin-2.PNG"
      alt="Car with VIN hot spots."
      loading="lazy"
    />
  </div>
  <div class="sc-fkuNvB cNMQAo">
    <span class="sc-ispOId sc-cydatY kHcibE bfnocf"
      >1. Under the hood (up front).</span
    ><span class="sc-ispOId sc-cydatY kHcibE bfnocf"
      >2. Driver’s side interior dash.</span
    ><span class="sc-ispOId sc-cydatY kHcibE bfnocf"
      >3. Driver door jam (opened door)</span
    ><span class="sc-ispOId sc-cydatY kHcibE bfnocf">4. Rear wheel wall</span
    ><span class="sc-ispOId sc-cydatY kHcibE bfnocf"
      >5. Under your spare tire in the trunk.</span
    >
  </div>
  <div class="sc-hakzzD cmyXFB">
    <span class="sc-gxYJeL sc-enSMya kydtWy egWzQA"
      >Your VIN can also be found on the following documents:</span
    ><span class="sc-ispOId sc-derkYz kHcibE"
      >Registration, vehicle title, owner’s manual, insurance documents, and
      vehicle history reports.</span
    >
  </div>
</div>
