<div style="
    background-color: #aad0e2;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 6px;
  ">
  <form [formGroup]="vehicleConditionFormGroup">
    <mat-card class="question-card ml-auto mr-auto">
      <mat-card-content>
        <div class="row">
          <div class="col-6 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
            <label class="content-title required--after" id="example-radio-group-label">Are all of the wheels inflated
              on your {{
              selectedMake
              }} ?
            </label>
            &nbsp; &nbsp;
          </div>
          <div class="col-6 d-flex align-items-center justify-content-start">
            <!-- <ui-switch class="question-slider" uncheckedLabel="No" checkedLabel="Yes" size="medium" [ngStyle]="{
          color: vechileCondition.externalConditions.doesAllCarWheelInflated ? 'white' : 'black'
        }" [(ngModel)]="
          vechileCondition.externalConditions.doesAllCarWheelInflated
        " checkedTextColor="white"></ui-switch> -->
            <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
              required formControlName="doesAllCarWheelInflated">
              <mat-radio-button class="example-radio-button" [value]="true">
                Yes
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                No
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="question-card ml-auto mr-auto">
      <mat-card-content>
        <div class="row">
          <div class="col-6 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
            <label class="content-title required--after" id="example-radio-group-label">Any glass or lights cracked or
              broken on your {{
              selectedMake }} ?
            </label>
            &nbsp; &nbsp;
          </div>
          <div class="col-6 d-flex align-items-center justify-content-start">
            <!-- <ui-switch class="question-slider" uncheckedLabel="No" checkedLabel="Yes" size="medium" [ngStyle]="{
          color: vechileCondition.externalConditions.doesAllGlassorLightCracked ? 'white' : 'black'
        }" [(ngModel)]="
          vechileCondition.externalConditions.doesAllGlassorLightCracked
        " checkedTextColor="white"></ui-switch> -->
            <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
              required formControlName="doesAllGlassorLightCracked">
              <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                Yes
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                No
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="question-card ml-auto mr-auto">
      <mat-card-content>
        <div class="row">
          <div class="col-6 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
            <label class="content-title required--after" id="example-radio-group-label">Does it have any body damage?
            </label>
            &nbsp; &nbsp;
          </div>
          <div class="col-6 d-flex align-items-center justify-content-start">
            <!-- <ui-switch class="question-slider" uncheckedLabel="No" checkedLabel="Yes" size="medium"
        (ngModelChange)="onChangeEventBodyDamage($event)" checkedTextColor="white" [ngStyle]="{
          color: vechileCondition.externalConditions.doesBodyDamage ? 'white' : 'black'
        }" [(ngModel)]="vechileCondition.externalConditions.doesBodyDamage"></ui-switch> -->
            <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
              required formControlName="doesBodyDamage">
              <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                Yes
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                No
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-card-content>
      <!-- Noticeable Dings/Dents/Scratches on your [Make]?	 -->
      <!-- vechileCondition.externalConditions.NoticeableDingsDentsScratches -->
    </mat-card>

    <ng-container *ngIf="vehicleConditionFormGroup.get('doesBodyDamage')?.value === true">
      <mat-card class="question-card ml-auto mr-auto">
        <mat-card-content>
          <div class="row">
            <div class="col-6 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
              <label class="content-title required--after" id="example-radio-group-label">Severity of Body Damages?
              </label>
              &nbsp; &nbsp;
            </div>
          </div>
          <div class="row">
            <div class="mt-2 d-flex align-items-center justify-content-start">
              <!-- <mat-slider class="question-slider mt-3" max="5" min="1" step="step" discrete="true" showTickMarks="true"
          tickInterval="1">
          <input matSliderThumb [(ngModel)]="
              vechileCondition.externalConditions.doesBodyDamageSeverity
            " #slider />
        </mat-slider> -->
              <div required>
                <label *ngFor="let option of severityBodyDamageOptions">
                  <div class="d-flex flex-column justify-conten-center">
                    <input type="radio" formControlName="doesBodyDamageSeverity" [value]="option.value">

                    <img style="width: 80%;" class="ml-auto mr-auto" [src]="option.img" [alt]="option.value">
                    <p class="text-center">{{option.value}}</p>
                  </div>

                </label>

              </div>

              <!-- <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                required formControlName="doesBodyDamageSeverity">
                <mat-radio-button class="example-radio-button" *ngFor="let option of severityBodyDamageOptions"
                  name="Question.name" [value]="option.value">
                  <mat-card>
                    <img width="45px" mat-card-image [src]="option.img" [alt]="option.value">
                    <p class="text-center">{{option.value}}</p>
                  </mat-card>
                </mat-radio-button>
              </mat-radio-group> -->
            </div>
          </div>
        </mat-card-content>
        <!-- Noticeable Dings/Dents/Scratches on your [Make]?	 -->
        <!-- vechileCondition.externalConditions.NoticeableDingsDentsScratches -->
      </mat-card>
    </ng-container>

    <mat-card class="question-card ml-auto mr-auto">
      <mat-card-content>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
            <label class="content-title required--after" id="example-radio-group-label">Noticeable Dings/Dents/Scratches
              on your {{
              selectedMake }} ?
            </label>
          </div>
          <div class="col-6 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center justify-content-start">
            <mat-radio-group color="primary" aria-labelledby="example-radio-group-label"
              formControlName="NoticeableDingsDentsScratches">
              <mat-radio-button class="example-radio-button" name="Question.name"
                *ngFor="let option of BodyNoticableDentsScratcheOptions" [value]="option">
                {{ option }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <!-- <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="vechileQuestionaire.hasCarTitle"
      >
        <mat-radio-button [value]="true">yes</mat-radio-button>
        <mat-radio-button [value]="false">no</mat-radio-button>
      </mat-radio-group> -->
      </mat-card-content>
    </mat-card>

    <mat-card class="question-card ml-auto mr-auto">
      <mat-card-content>
        <div class="row">
          <div class="col-6 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
            <label class="content-title required--after" id="example-radio-group-label">Body panels intact?
            </label>
            &nbsp; &nbsp;
          </div>
          <div class="col-6 d-flex align-items-center justify-content-start">
            <!-- <ui-switch class="question-slider min" uncheckedLabel="No" checkedLabel="Yes" size="medium" [ngStyle]="{
          color: vechileCondition.externalConditions.doesBodyPanelIntact ? 'white' : 'black'
        }" [(ngModel)]="vechileCondition.externalConditions.doesBodyPanelIntact" checkedTextColor="white"></ui-switch> -->
            <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
              required formControlName="doesBodyPanelIntact">
              <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                Yes
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                No
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <br />
      </mat-card-content>
    </mat-card>

    <mat-card class="question-card ml-auto mr-auto">
      <mat-card-content>
        <div class="row">
          <div class="col-6 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
            <label class="content-title required--after" id="example-radio-group-label">Are the airbags deployed or
              missing?
            </label>
            &nbsp; &nbsp;
          </div>
          <div class="col-6 d-flex align-items-center justify-content-start">
            <!-- <ui-switch class="question-slider" uncheckedLabel="No" checkedLabel="Yes" size="medium" [ngStyle]="{
          color: vechileCondition.externalConditions.doesAirbagsDeployedOrMissing ? 'white' : 'black'
        }" [(ngModel)]="
          vechileCondition.externalConditions.doesAirbagsDeployedOrMissing
        " checkedTextColor="white"></ui-switch> -->
            <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
              required formControlName="doesAirbagsDeployedOrMissing">
              <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                Yes
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                No
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <br />
      </mat-card-content>
    </mat-card>

    <mat-card class="question-card ml-auto mr-auto">
      <mat-card-content>
        <div class="row">
          <div class="col-6 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
            <label class="content-title required--after" id="example-radio-group-label">
              Did your {{ selectedMake }} ever suffer flood or fire damage?
            </label>
            &nbsp; &nbsp;
          </div>
          <div class="col-6 d-flex align-items-center justify-content-start">
            <!-- <ui-switch class="question-slider" uncheckedLabel="No" checkedLabel="Yes" size="medium" checkedTextColor="white"
        [ngStyle]="{
          color: vechileCondition.externalConditions.DoesCarSufferedFloodorFireDamage ? 'white' : 'black'
        }" [(ngModel)]="
          vechileCondition.externalConditions.DoesCarSufferedFloodorFireDamage
        "></ui-switch> -->
            <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
              required formControlName="DoesCarSufferedFloodorFireDamage">
              <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                Yes
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                No
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <br />
      </mat-card-content>
    </mat-card>
    <mat-card class="question-card ml-auto mr-auto">
      <mat-card-content>
        <div class="row">
          <div class="col-6 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
            <label class="content-title required--after" id="example-radio-group-label">
              Is the interior of your {{ selectedMake }} intact?
            </label>
            &nbsp; &nbsp;
          </div>
          <div class="col-6 d-flex align-items-center justify-content-start">
            <!-- <ui-switch class="question-slider" uncheckedLabel="No" checkedLabel="Yes" [ngStyle]="{
          color: vechileCondition.DoesInteriorIntact ? 'white' : 'black'
        }" size="medium" [(ngModel)]="vechileCondition.DoesInteriorIntact" checkedTextColor="white"></ui-switch> -->
            <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
              required formControlName="DoesInteriorIntact">
              <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                Yes
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                No
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <br />
      </mat-card-content>
    </mat-card>
  </form>
</div>