<div style="
    background-color: rgb(247, 247, 247);
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 6px;
  ">
  <div class="mat-card-cvr">
    <mat-card class="mat-card">
      <div class="col-12 title-col d-flex align-items-center">
        <span class="breadcrumb">Vehicle Details</span>
        <div class="ml-auto">
          <div class="grow-container ">
            <a (click)="routeToStepperIndex(0)" #tooltip="matTooltip" matTooltip="Edit" matTooltipPosition="above"
              class="to-twitter circle-button"><mat-icon>edit</mat-icon>
            </a>
          </div>
        </div>
      </div>

      <div class="container">
        <!-- First Row -->
        <div class="row">
          <!-- Box 1 -->
          <div class="col-sm-12 col-md-6 text-start p-2">
            <label class="content-title mb-0">Title?</label>
            <div class="text-secondary">
              {{ sellerCarDetails.vehicleDetails.carTitle }}
            </div>
          </div>
          <div class="col-sm-12 col-md-6 text-start p-2">
            <label class="content-title mb-0">
              Do you currently have a loan on your [Make]?
            </label>
            <div class="text-secondary">
              {{ sellerCarDetails.vehicleDetails?.carLoan | yesNo }}
            </div>
          </div>
          <div class="col-sm-12 col-md-6 text-start p-2">
            <label class="content-title mb-0">Mileage?</label>
            <div class="text-secondary">
              {{ sellerCarDetails?.vehicleDetails?.mileage }}
            </div>
          </div>
          <div class="col-sm-12 col-md-6 text-start p-2">
            <label class="content-title mb-0">What is the color of your [Make]?</label>
            <div class="text-secondary">
              {{ sellerCarDetails?.vehicleDetails?.color }}
            </div>
          </div>
          <div class="col-sm-12 col-md-6 text-start p-2">
            <label class="content-title mb-0">What is your zipCode?</label>
            <div class="text-secondary">
              {{ sellerCarDetails?.vehicleDetails?.zipCode }}
            </div>
          </div>

          <div class="col-sm-12 col-md-6 text-start p-2">
            <label class="content-title mb-0">Vehicle transmission type?</label>
            <div class="text-secondary">
              {{ sellerCarDetails?.vehicleDetails?.vechileTransmissionType }}
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="mat-card-cvr">
    <mat-card class="mat-card">
      <div class="col-12 title-col d-flex align-items-center">
        <span class="breadcrumb">Vehicle Condition</span>
        <div class="ml-auto">
          <div class="grow-container ">
            <a (click)="routeToStepperIndex(1)" #tooltip="matTooltip" matTooltip="Edit" matTooltipPosition="above"
              class="to-twitter circle-button "><mat-icon>edit</mat-icon>
            </a>
          </div>
        </div>

      </div>

      <div class="container">
        <!-- First Row -->
        <div class="row">
          <!-- Box 1 -->
          <div class="col-sm-12 col-md-6 text-start p-2">
            <label class="content-title mb-0">
              Are all of the wheels inflated on your {{ selectedMake }} ?
            </label>
            <div class="text-secondary">
              {{
              sellerCarDetails?.vehicleCondition?.externalConditions
              ?.doesAllCarWheelInflated | yesNo
              }}
            </div>
          </div>
          <div class="col-sm-12 col-md-6 text-start p-2">
            <label class="content-title mb-0">
              Any glass or lights cracked or broken on your {{ selectedMake }} ?
            </label>
            <div class="text-secondary">
              {{
              sellerCarDetails?.vehicleCondition?.externalConditions
              ?.doesAllGlassorLightCracked | yesNo
              }}
            </div>
          </div>
          <div class="col-sm-12 col-md-6 text-start p-2">
            <label class="content-title mb-0">Does it have any body damage?</label>
            <div class="text-secondary">
              {{
              sellerCarDetails?.vehicleCondition?.externalConditions
              ?.doesBodyDamage | yesNo
              }}
            </div>
          </div>
          <div class="col-sm-12 col-md-6 text-start p-2">
            <label class="content-title mb-0">Severity of Body Damages?</label>
            <div class="text-secondary">
              {{
              sellerCarDetails?.vehicleCondition?.externalConditions
              ?.doesBodyDamageSeverity
              }}
            </div>
          </div>

          <!-- <div class="col-md-3 border text-center p-2">
                        Data 4
                    </div> -->
        </div>
      </div>
    </mat-card>
  </div>

  <div class="mat-card-cvr">
    <mat-card class="mat-card">
      <div class="col-12 title-col d-flex align-items-center">
        <span class="breadcrumb">Vehicle Body Condition</span>
        <div class="ml-auto">
          <div class="grow-container ">
            <a (click)="routeToStepperIndex(2)" #tooltip="matTooltip" matTooltip="Edit" matTooltipPosition="above"
              class="to-twitter circle-button "><mat-icon>edit</mat-icon>
            </a>
          </div>
        </div>
      </div>

      <div class="container">
        <!-- First Row -->
        <div class="row">
          <!-- Box 1 -->
          <div class="col-sm-12 col-md-6 text-start p-2">
            <label class="content-title mb-0">
              Noticeable Dings/Dents/Scratches on your {{ selectedMake }} ?
            </label>
            <div class="text-secondary">
              {{
              sellerCarDetails?.vehicleCondition?.externalConditions
              ?.NoticeableDingsDentsScratches | yesNo
              }}
            </div>
          </div>
          <div class="col-sm-12 col-md-6 text-start p-2">
            <label class="content-title mb-0">Body panels intact?</label>
            <div class="text-secondary">
              {{
              sellerCarDetails?.vehicleCondition?.externalConditions
              ?.doesBodyPanelIntact | yesNo
              }}
            </div>
          </div>
          <div class="col-sm-12 col-md-6 text-start p-2">
            <label class="content-title mb-0">Are the airbags deployed or missing?</label>
            <div class="text-secondary">
              {{
              sellerCarDetails?.vehicleCondition?.externalConditions
              ?.doesAirbagsDeployedOrMissing | yesNo
              }}
            </div>
          </div>
          <div class="col-sm-12 col-md-6 text-start p-2">
            <label class="content-title mb-0">
              Did your {{ selectedMake }} ever suffer flood or fire damage?
            </label>
            <div class="text-secondary">
              {{
              sellerCarDetails?.vehicleCondition?.externalConditions
              ?.DoesCarSufferedFloodorFireDamage | yesNo
              }}
            </div>
          </div>
          <div class="col-sm-12 col-md-6 text-start p-2">
            <label class="content-title mb-0">
              Is the interior of your {{ selectedMake }} intact?
            </label>
            <div class="text-secondary">
              {{
              sellerCarDetails?.vehicleCondition?.DoesInteriorIntact | yesNo
              }}
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="mat-card-cvr">
    <mat-card class="mat-card">
      <div class="col-12 title-col d-flex align-items-center">
        <span class="breadcrumb">Contact Information</span>
        <div class="ml-auto">
          <div class="grow-container ">
            <a (click)="routeToStepperIndex(3)" #tooltip="matTooltip" matTooltip="Edit" matTooltipPosition="above"
              class="to-twitter circle-button "><mat-icon>edit</mat-icon>
            </a>
          </div>
        </div>


      </div>

      <div class="container">
        <div class="row">
          <div class="col-6 text-start p-2">
            <label class="content-title mb-0">Full Name:</label>
            <div class="text-secondary">
              {{ sellerCarDetails?.contact?.fullName }}
            </div>
          </div>
          <div class="col-6 text-start p-2">
            <label class="content-title mb-0">Email</label>
            <div class="text-secondary">
              {{ sellerCarDetails?.contact?.email }}
            </div>
          </div>
          <div class="col-6 text-start p-2">
            <label class="content-title mb-0">Phone Number</label>
            <div class="text-secondary">
              {{ sellerCarDetails?.contact?.mobile }}
            </div>
          </div>
          <!-- <div class="col-6 text-start p-2">
            <label class="content-title mb-0">Zip code</label>
            <div class="text-secondary">
              {{ sellerCarDetails?.contact?.zipCode }}
            </div>
          </div> -->
        </div>
      </div>
    </mat-card>
  </div>
  <div class="mat-card-cvr">
    <mat-card class="mat-card">
      <div class="container">
        <!-- First Row -->
        <div class="row">
          <div class="col-sm-12 checkbox d-flex justify-content-center">
            <div class="form-check w-50 text-justify">
              <input class="form-check-input custom-checkbox-style col-form-label-lg" type="checkbox"
                [formControl]="reviewCheckbox" id="reviewdefaultCheck" />
              <label class="form-check-label text-justify" for="reviewdefaultCheck">
                We reserve the right to modify or cancel this offer if the
                condition of the vehicle does not meet the description of the
                vehicle provided. Offer is valid for seven days or 500 miles
                whichever comes first. By clicking submit I hereby accept all
                <a class="text-danger font-weight-bold" style="text-decoration: none">terms and conditions.</a>
                The information I provided is correct to the best of my
                knowledge.
              </label>
            </div>
          </div>
        </div>

      </div>
    </mat-card>
  </div>
</div>