<div style="
background-color: rgb(247, 247, 247);
padding: 25px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 6px;
">

<div class="mat-card-cvr">
    
    <mat-card class="mat-card">
        <span class="breadcrumb" style="border-color: red;">Vehicle Details</span>

        <mat-grid-list cols="2" rowHeight="110px"  gutterSize="2px">
            <mat-grid-tile colspan="1">
                <div class="review-item-container">
                    <p>Do you Own a CAR:  </p>
                    <p class="summary-ans">Own</p>
                    <mat-divider></mat-divider>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div class="review-item-container">
                    <p>Does your car have a title?:  </p>
                    <p class="summary-ans">Clean</p>
                    <mat-divider></mat-divider>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div class="review-item-container">
                    <p>Mileage of your CAR:  </p>
                    <p class="summary-ans">12</p>
                    <mat-divider></mat-divider>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div class="review-item-container">
                    <p>ZipCode of your Car Location:  </p>
                    <p class="summary-ans">123456</p>
                    <mat-divider></mat-divider>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <div class="review-item-container">
                    <p>Color of your Car:  </p>
                    <p class="summary-ans">Red</p>
                    <mat-divider></mat-divider>
                </div>
            </mat-grid-tile>

        </mat-grid-list>
        <mat-divider style="border-top-width: 1px;
    border-top-style:solid; margin: 15px auto;"></mat-divider>
    </mat-card>
</div>
    <div class="mat-card-cvr">
        
        <mat-card class="mat-card">
            <span class="breadcrumb" style="border-color: yellow;">Vehicle Condition</span>
            <mat-grid-list cols="2" rowHeight="100px"  gutterSize="2px">
                <mat-grid-tile colspan="1">
                    <div class="review-item-container">
                        <p>Does the Car Drive:  </p>
                        <p class="summary-ans">Yes</p>
                        <mat-divider></mat-divider>
                    </div>
                </mat-grid-tile>
                
                <mat-grid-tile colspan="1">
                    <div class="review-item-container">
                        <p>Does the car start?  </p>
                        <p class="summary-ans">Yes</p>
                        <mat-divider></mat-divider>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" >
                    <div class="review-item-container">
                        <p>Are the engines and transmission in the car?  </p>
                        <p class="summary-ans">Engine or Transmission is removed but still available.</p>
                        <mat-divider></mat-divider>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <div class="review-item-container">
                        <p>Does your car needs mechanical work? </p>
                        <p class="summary-ans">Yes</p>
                        <mat-divider></mat-divider>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <div class="review-item-container">
                        <p>Body panels intact  </p>
                        <p class="summary-ans">Yes</p>
                        <mat-divider></mat-divider>
                    </div>
                </mat-grid-tile>
    
            </mat-grid-list>
            <mat-divider style="border-top-width: 1px;
    border-top-style:solid; margin: 15px auto;"></mat-divider>
        </mat-card>
        
    </div>
    
    <div class="mat-card-cvr">
        
        <mat-card class="mat-card">
            <span class="breadcrumb" style="border-color: #10ff0a;">Vehicle Body Condition</span>
            <mat-grid-list cols="2" rowHeight="100px"  gutterSize="2px">
                <mat-grid-tile colspan="1">
                    <div class="review-item-container">
                        <p>Do you Own a CAR:  </p>
                        <p class="summary-ans">Own</p>
                        <mat-divider></mat-divider>
                    </div>
                </mat-grid-tile>
                
                <mat-grid-tile colspan="1">
                    <div class="review-item-container">
                        <p>Does your car have a title?:  </p>
                        <p class="summary-ans">Clean</p>
                        <mat-divider></mat-divider>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <div class="review-item-container">
                        <p>Mileage of your CAR:  </p>
                        <p class="summary-ans">12</p>
                        <mat-divider></mat-divider>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <div class="review-item-container">
                        <p>ZipCode of your Car Location:  </p>
                        <p class="summary-ans">123456</p>
                        <mat-divider></mat-divider>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <div class="review-item-container">
                        <p>Color of your Car:  </p>
                        <p class="summary-ans">Red</p>
                        <mat-divider></mat-divider>
                    </div>
                </mat-grid-tile>
    
            </mat-grid-list>
    
        </mat-card>
    </div>
        
</div>