<div
  style="
    background-color: rgb(247, 247, 247);
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 6px;
  "
>
  <mat-card class="question-card">
    <mat-card-content>
      <div fxLayout="column" class="seller-contact">
        <h2>Where should we send your Instant Cash Offer?</h2>

        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input matNativeControl matInput type="text" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matNativeControl matInput type="email" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matNativeControl matInput type="tel" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Zip Code</mat-label>
          <input matNativeControl matInput type="number" />
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
