mat-form-field {
  width: 89%;
  height: 80%;
}

.btn-go {
  margin-bottom: 14px;
  width: 50%;
  background: #BDF279;
  color:  #BDF279;
  border: 1px solid black;
  border-radius: 30px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 15px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 15px;
}

.btn-go:hover{
  background:  #BDF279;
  box-shadow: 2px 1px 5px black ;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.mat-mdc-raised-button.mat-unthemed {
  --mdc-protected-button-container-color: #BDF279;
  --mdc-protected-button-label-text-color: #000;
}
