<app-car-loader *ngIf="isLoading"></app-car-loader>

<form [formGroup]="manualVechileSelectionForm" (submit)="onSubmit()">
  <div class="container-fluid" style="padding-top: 15px">
    <div class="row">
      <!-- <mat-grid-list cols="4" rowHeight="75px" gutterSize="1px">
    <mat-grid-tile colspan="2"> -->
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Year</mat-label>
          <mat-select
            matNativeControl
            (selectionChange)="yearSelectionChange($event)"
            formControlNameame="yearSelected"
            name="yearSelected"
          >
            <mat-option
              *ngFor="let year of VechileRegisterationList"
              [value]="year"
            >
              {{ year }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <!-- </mat-grid-tile> -->
        <!-- <mat-grid-tile colspan="2"> -->
        <mat-form-field appearance="outline">
          <mat-label>Make</mat-label>
          <mat-select
            matNativeControl
            formControlName="selectedMake"
            name="selectedMake"
            (selectionChange)="makeSelectionChange()"
          >
            <mat-option *ngFor="let make of makesList | async" [value]="make">
              {{ make }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- </mat-grid-tile> -->
      <div class="col-6">
        <!-- <mat-grid-tile colspan="2"> -->
        <mat-form-field appearance="outline">
          <mat-label>Model</mat-label>
          <mat-select
            matNativeControl
            formControlNameame="selectedModel"
            name="selectedModel"
            (selectionChange)="modelSelectionChange($event)"
          >
            <mat-option *ngFor="let model of modelList | async" [value]="model">
              {{ model }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Trim</mat-label>

          <mat-select
            matNativeControl
            formControlNameame="selectedStyle"
            name="trim"
            (selectionChange)="trimSelectionChange()"
          >
            <mat-option *ngFor="let trim of trimList | async" [value]="trim">
              {{ trim }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- </mat-grid-tile> -->
        <!-- <mat-grid-tile [colspan]="2"> -->
      </div>
      <div class="col-12 text-center">
        <button mat-raised-button color="primary" class="btn-go">
          GET MY OFFER
        </button>
        <!-- </mat-grid-tile>
  </mat-grid-list> -->
      </div>
    </div>
  </div>
</form>
