<mat-grid-list cols="2" rowHeight="100px">
  <mat-grid-tile [colspan]="1">
    <mat-form-field appearance="outline">
      <mat-label>Year</mat-label>
      <select matNativeControl>
        <option>1991</option>
        <option>1992</option>
        <option>1993</option>
        <option>1995</option>
        <option>1996</option>
        <option>1997</option>
        <option>1998</option>
        <option>1999</option>
        <option>2000</option>
        <option>2001</option>
        <option>2002</option>
        <option>2003</option>
        <option>2004</option>
        <option>2005</option>
        <option>2006</option>
        <option>2007</option>
        <option>2008</option>
        <option>2009</option>
        <option>2010</option>
        <option>2011</option>
        <option>2012</option>
        <option>2013</option>
      </select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-form-field appearance="outline">
      <mat-label>Make</mat-label>
      <select matNativeControl>
        <option>ISUZU</option>
        <option>Audi</option>
        <option>BMW</option>
        <option>HONDA</option>
      </select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1">
    <mat-form-field appearance="outline">
      <mat-label>Model</mat-label>
      <select matNativeControl>
        <option>Accord</option>
        <option>Civic</option>
        <option>CR-V</option>
        <option>WR-V</option>
      </select>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1">
    <mat-form-field appearance="outline">
      <mat-label>Style</mat-label>
      <select matNativeControl>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-form-field appearance="outline">
      <mat-label>Mileage</mat-label>
      <input matNativeControl matInput type="number" min="0" max="55" />
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <button
      mat-raised-button
      color="primary"
      class="btn-go"
      routerLink="/questionaire"
    >
      GO
    </button>
  </mat-grid-tile>
</mat-grid-list>
<br />
<br />
<br />
