.check_icon {
  color: green;
  width: 100%;
  font-size: 3rem;
  height: 100%;
}

.card {
  max-width: 35rem;
}

svg {
  color: rgba(29, 187, 82, 0.425);
  filter: drop-shadow(3px 5px 2px rgba(31, 168, 127, 0.4));
}

.content-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.btn-go {
  margin-bottom: 14px;
  width: 50%;
  background-color:  #BDF279;
  color: black;
  border: 1px solid black;
  border-radius: 30px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 15px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 15px;
}
.btn-go:hover{
  color: black;
  background:  #BDF279;
  box-shadow: 2px 1px 5px black ;
}

.offer-button {
  height: 40px;
  padding: 7px 0;
  margin-top: 30px;
}


* {
  padding: 0;
  margin: 0
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 3% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none
  }

  50% {
    transform: scale3d(1.1, 1.1, 1)
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142
  }
}

.container {
  border-top: 10px solid #7ac142 !important;
}