<div class="conatiner">
    <mat-card>
        <mat-card-content>
            <div class="row text-center">
                <mat-icon class="check_icon">check_circle</mat-icon>
            </div>
            <div class="row text-center">
                <span class="blockquote">
                    Carizma Customer team will follow up with you to provide better offer suitable for the car detail you have provided.
                </span>
            </div>

            <div class="row">
                <div mat-dialog-actions class="float-center">
                  <button class="btn btn-primary" matDialogClose mat-button routerLink="/sell-car" cdkFocusInitial>Ok</button>
                </div>
              </div>
        </mat-card-content>
    </mat-card>
</div>