<app-car-loader *ngIf="isLoading"></app-car-loader>


<form>
  <mat-grid-list cols="4" rowHeight="50px" gutterSize="2px">
    <mat-grid-tile colspan="4" rowspan="1.5" style="padding-bottom: 5%">
      <mat-form-field appearance="outline" required>
        <mat-label>VIN</mat-label>
        <input matNativeControl matInput autocomplete="doNotAutoComplete" placeholder="Enter the 17-digit VIN"
          name="VIN" maxlength="17" [formControl]="vin" required />
        <mat-error style="z-index: 100; position: absolute" *ngIf="vin.hasError('required')"> vin is
          required</mat-error>
        <mat-error style="z-index: 100; position: absolute" *ngIf="vin.hasError('maxlength')">Please provide Valid
          VIN</mat-error>

      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4"><a class="mat-subtitle-2" (click)="openBottomSheet()">Where is my VIN?</a>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <button mat-raised-button class="btn-go" color="primary" (click)="go()">
        GET MY OFFER
        <!-- <div class="row">
          <div class="col-10"> GET MY OFFER</div>
          <div class="col-2 text-right" style="font-size: larger;">
            >
          </div>
        </div> -->
      </button>

    </mat-grid-tile>
  </mat-grid-list>
</form>