<br />
<mat-grid-list cols="4" rowHeight="100px" rows="1" gutterSize="10px">
  <mat-grid-tile colspan="2">
    <mat-form-field appearance="outline">
      <mat-label>VIN</mat-label>
      <input
        matNativeControl
        matInput
        placeholder="Enter the 17-digit VIN"
        maxlength="17"
        [(ngModel)]="vin"
      />
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile
    ><a (click)="openBottomSheet()">Where is my VIN?</a>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button style="width: 45%" color="primary" (click)="go()">
      GO
    </button>
  </mat-grid-tile>
</mat-grid-list>
