<form [formGroup]="licensePlateSelection" (ngSubmit)="onSubmit()">
  <mat-grid-list cols="3" rowHeight="100px" rows="1" gutterSize="10px">
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>License Plate</mat-label>
        <input
          matNativeControl
          matInput
          name="licensePlate"
          formControlName="licensePlate"
        />
        <mat-error>Name is required</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <select
          matNativeControl
          [(ngModel)]="selectedState"
          name="selectedState"
          formControlName="selectedState"
        >
          <option *ngFor="let state of states" [ngValue]="state.name">
            {{ state.abbreviation }}
          </option>
        </select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        class="btn-go"
        color="primary"
        routerLink="/questionaire"
        [disabled]="!licensePlateSelection.valid"
      >
        GO
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
