<form [formGroup]="licensePlateSelection" (ngSubmit)="onSubmit()">
  <mat-grid-list cols="3" rowHeight="100px" rows="1" gutterSize="10px">
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>License Plate</mat-label>
        <input
          matNativeControl
          matInput
          name="licensePlate"
          formControlName="licensePlate"
          [(ngModel)]="selectedNumberPlate"
        />
        <mat-error>Name is required</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <mat-select
          [(ngModel)]="selectedState"
          name="selectedState"
          required="true"
        >
          <mat-option *ngFor="let food of states" [value]="food.abbreviation">
            {{ food.abbreviation }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        class="btn-go"
        color="primary"
        routerLink="/questionaire"
        [disabled]="!licensePlateSelection.valid"
        (click)="onSubmit()"
      >
        GO
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
