<form [formGroup]="licensePlateSelection" (ngSubmit)="onSubmit()">
  <mat-grid-list cols="4" rowHeight="70px" gutterSize="3px">
    <mat-grid-tile colspan="2">
      <mat-form-field appearance="outline">
        <mat-label>License Plate</mat-label>
        <input
          matNativeControl
          matInput
          name="licensePlate"
          formControlName="licensePlate"
        />
        <mat-error>License Plate is required</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <mat-select
          name="selectedState"
          required="true"
          formControlName="selectedState"
        >
          <mat-option *ngFor="let state of states | async" [value]="state.code">
            {{ state.code }}
          </mat-option>
        </mat-select>
        <mat-error>State is required</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <button
        mat-raised-button
        class="btn-go"
        color="primary"
        (click)="onSubmit()"
        type="submit"
      >
        GO
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
