<div [formGroup]="vechileInfoFormGroup">
    <div class="row mt-2">
        <div class="col-6 mb-2">
            <div class="form-group">
                <label for="seller_id" class="form-label-sm">Seller ID</label>
                <div class="input-group">
                    <input type="text" class="form-control border-right-0 readonly" name="seller_id"
                        placeholder="Search" formControlName="seller_id" readonly>
                    <!-- <div class="input-group-text  rounded-right p-0">
                    <span class="input-group-btn">
                        <button class="btn btn-lg btn-secondary btn-sm" type="button" id="button-addon2">
                            <mat-icon>search</mat-icon>
                        </button>
                    </span>
                </div> -->
                </div>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="vehicle_id" class="form-label-sm">Vehicle ID</label>
                <input type="text" readonly class="form-control border-right-0 readonly" name="vehicle_id"
                    formControlName="vehicle_id" readonly>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="Year" class="form-label-sm">Year</label>
                <mat-select name="Year" id="Year" class="form-select custom-mat-select" formControlName="year">
                    <mat-option [value]="year" *ngFor="let year of years">{{year}}</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="make" class="form-label-sm">Make</label>
                <input type="text" class="form-control border-right-0" name="make" [matAutocomplete]="autoModel"
                    formControlName="make"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('make')?.hasError('required')}">
                <div class="invalid-feedback">
                    Make is a required field.
                </div>
            </div>
            <mat-autocomplete #autoModel="matAutocomplete">
                <mat-optgroup *ngFor="let group of makesList | async" [label]="group.groupName">
                    <mat-option *ngFor="let make of group.makes" [value]="make">
                        {{ make }}
                    </mat-option>
                </mat-optgroup>
            </mat-autocomplete>

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="model" class="form-label-sm">Model</label>
                <input type="text" class="form-control border-right-0" name="model" [matAutocomplete]="autoMake"
                    formControlName="model"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('model')?.hasError('required')}">
                <mat-autocomplete #autoMake="matAutocomplete">
                    <mat-option *ngFor="let model of modelList | async" [value]="model">
                        {{ model }}
                    </mat-option>
                </mat-autocomplete>
                <div class="invalid-feedback">
                    Model is a required field.
                </div>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="trim" class="form-label-sm">Trim</label>
                <mat-select class="form-select" matNativeControl name="trim" formControlName="trim"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('trim')?.hasError('required')}">
                    <mat-option *ngFor="let trim of trimList | async" [value]="trim">
                        {{ trim }}
                    </mat-option>
                </mat-select>
                <div class="invalid-feedback">
                    Trim is a required field.
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="Vin" class="form-label-sm">Vin</label>
                <input type="text" class="form-control border-right-0" name="Vin" formControlName="vin"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('vin')?.hasError('required')}">
                <div class="invalid-feedback">
                    Vin is a required field.
                </div>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="Platenumber" class="form-label-sm">Plate Number</label>
                <input type="text" class="form-control border-right-0" name="Platenumber"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('plate_number')?.hasError('required')}"
                    formControlName="plate_number">
                <div class="invalid-feedback">
                    Vin is a required field.
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="title" class="col-12 form-label-sm">Title</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" required
                    formControlName="title">
                    <mat-radio-button name="Question.name" *ngFor="let option of CarTitleOptions" [value]="option">
                        {{ option }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="mileage" class="form-label-sm">Mileage</label>
                <input type="text" class="form-control border-right-0" name="mileage" formControlName="mileage"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('mileage')?.hasError('required')}">
                <div class="invalid-feedback">
                    mileage is a required field.
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="loan_vehicle" class="col-12 form-label-sm">Do you currently have a loan on your</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                    required formControlName="loan_vehicle">
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                        Yes
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                        No
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-6 mb-2">

            <div class="form-group mb-0">
                <label for="does_car_drive" class="col-12 form-label-sm">Does your car drive?</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                    required formControlName="does_car_drive">
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                        Yes
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                        No
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="does_car_start" class="col-12 form-label-sm">Does Your Car Start?</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                    required formControlName="does_car_start">
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                        Yes
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                        No
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="has_engine_transmission" class="col-12 form-label-sm">Does Your Car has Engine
                    Transmission?</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                    required formControlName="has_engine_transmission">
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                        Yes
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                        No
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="does_need_mech_work" class="col-12 form-label-sm">Does your car need Mechanical
                    Work?</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                    required formControlName="does_need_mech_work">
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                        Yes
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                        No
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="are_body_panels_intact" class="col-12 form-label-sm">Are Body panels intact?</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                    required formControlName="are_body_panels_intact">
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                        Yes
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                        No
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 mb-2">
            <div class="form-group mb-0">
                <label for="kind_of_mech_work_needed" class="col-12 form-label-sm">What Kind of Mechanical Work
                    needed?</label>
                <div class="col-6 d-flex flex-row align-items-start justify-content-start"
                    formGroupName="kind_of_mech_work_needed">
                    <mat-checkbox class="col-12" formControlName="warningLights">Any warning lights (ABS, battery charge
                        warning light,
                        engine
                        temperature etc.)
                    </mat-checkbox>
                    <mat-checkbox class="col-3" formControlName="Electrical">Electrical</mat-checkbox>
                    <mat-checkbox class="col-3" formControlName="Mechanical">Mechanical</mat-checkbox>
                    <mat-checkbox class="col-3" formControlName="Suspension">Suspension</mat-checkbox>
                    <mat-checkbox class="col-3" formControlName="Mechanical">Other</mat-checkbox>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">

        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="are_all_tires_attached" class="col-12 form-label-sm">Are all tires attached?</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                    required formControlName="are_all_tires_attached">
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                        Yes
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                        No
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="ever_been_in_flood_or_fire" class="col-12 form-label-sm"> Did your make ever suffer flood or
                    fire
                    damage?</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                    required formControlName="ever_been_in_flood_or_fire">
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                        Yes
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                        No
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="row mt-3">

        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="is_windshield_broken" class="col-12 form-label-sm">Is Windshield Broken?</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                    required formControlName="is_windshield_broken">
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                        Yes
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                        No
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="has_body_damage" class="col-12 form-label-sm">Does it have any body damage?</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                    required formControlName="has_body_damage">
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                        Yes
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                        No
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="row mt-3">

        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="has_airbags" class="col-12 form-label-sm">Are the airbags deployed or
                    missing?</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                    required formControlName="has_airbags">
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                        Yes
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                        No
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="are_interiors_intact" class="col-12 form-label-sm">Is the interior of your make
                    intact?</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                    required formControlName="are_interiors_intact">
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="true">
                        Yes
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" name="Question.name" [value]="false">
                        No
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="row mt-3">

        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="body_damage_severity" class="col-12 form-label-sm">Severity of Body Damages?</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                    required formControlName="body_damage_severity">
                    <mat-radio-button name="Question.name" *ngFor="let option of BodyDamageOptions" [value]="option">
                        {{ option }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="number_of_dents_or_scratches" class="col-12 form-label-sm">Noticeable Dings/Dents/Scratches
                    on your make?</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                    required formControlName="number_of_dents_or_scratches">
                    <mat-radio-button name="Question.name" *ngFor="let option of BodyNoticableDentsScratcheOptions"
                        [value]="option">
                        {{ option }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="adj_mmr_price" class="col-12 form-label-sm">adj_mmr_price</label>
                <input type="text" readonly class="form-control border-right-0" name="adj_mmr_price"
                    formControlName="adj_mmr_price"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('adj_mmr_price')?.hasError('required')}">
                <div class="invalid-feedback">
                    adj_mmr_price is a required field.
                </div>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="fixed_price" class="col-12 form-label-sm">Fixed Price</label>
                <input type="text" readonly class="form-control border-right-0" name="fixed_price"
                    formControlName="fixed_price"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('fixed_price')?.hasError('required')}">
                <div class="invalid-feedback">
                    Fixed Price is a required field.
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="damage_percent" class="col-12 form-label-sm">Damage Percentage</label>
                <input type="text" readonly class="form-control border-right-0" name="damage_percent"
                    formControlName="damage_percent"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('damage_percent')?.hasError('required')}">
                <div class="invalid-feedback">
                    Damage Percentage is a required field.
                </div>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="non_runner_percent" class="col-12 form-label-sm">Non Runner Percentage</label>
                <input type="text" readonly class="form-control border-right-0" name="non_runner_percent"
                    formControlName="non_runner_percent"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('non_runner_percent')?.hasError('required')}">
                <div class="invalid-feedback">
                    Non Runner Percentage is a required field.
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="start_only_percent" class="col-12 form-label-sm">Start Only Percentage</label>
                <input type="text" readonly class="form-control border-right-0" name="start_only_percent"
                    formControlName="start_only_percent"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('start_only_percent')?.hasError('required')}">
                <div class="invalid-feedback">
                    Start Only Percentage is a required field.
                </div>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="default_percent" class="col-12 form-label-sm">Default Percentage</label>
                <input type="text" readonly class="form-control border-right-0" name="default_percent"
                    formControlName="default_percent"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('password')?.hasError('required')}">
                <div class="invalid-feedback">
                    Default Percentage is a required field.
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="total_reduction_percent" class="col-12 form-label-sm">Total Reduction Percentage</label>
                <input type="text" readonly class="form-control border-right-0" name="total_reduction_percent"
                    formControlName="total_reduction_percent"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('total_reduction_percent')?.hasError('required')}">
                <div class="invalid-feedback">
                    Total Reduction Percentage is a required field.
                </div>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="instant_offer_price" class="col-12 form-label-sm">Instant Offer Price</label>
                <input type="text" readonly class="form-control border-right-0" name="instant_offer_price"
                    formControlName="instant_offer_price"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('instant_offer_price')?.hasError('required')}">
                <div class="invalid-feedback">
                    Instant Offer Price is a required field.
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="acceptance_status" class="col-12 form-label-sm">Acceptance Status</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                    required formControlName="acceptance_status">
                    <mat-radio-button name="Question.name" *ngFor="let option of acceptanceStatus" [value]="option">
                        {{ option }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="vehicle_transmission_type" class="col-12 form-label-sm">Vehicle transmission type?</label>
                <mat-radio-group color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
                    required formControlName="vehicle_transmission_type">
                    <mat-radio-button class="example-radio-button" name="Question.name"
                        *ngFor="let option of carTransmissionTypes" [value]="option">
                        {{ option }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="vehicle_color" class="col-12 form-label-sm">What is the color of your ?</label>
                <mat-select name="vehicle_color" id="vehicle_color" class="form-select custom-mat-select"
                    formControlName="vehicle_color">
                    <mat-option *ngFor="let option of CarColorOptions" [value]="option">{{ option }}</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="vehicle_weight" class="form-label-sm">Vechile Weight</label>
                <input type="text" class="form-control border-right-0" name="vehicle_weight"
                    formControlName="vehicle_weight"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('vehicle_weight')?.hasError('required')}">
                <div class="invalid-feedback">
                    Vechile Weight is a required field.
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="vehicle_owner_name" class="form-label-sm">Vechile Owner Name</label>
                <input type="text" class="form-control border-right-0" name="vehicle_owner_name"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('vehicle_owner_name')?.hasError('required')}"
                    formControlName="vehicle_owner_name">
                <div class="invalid-feedback">
                    Vechile Owner Name is a required field.
                </div>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="vehicle_pickup_street_address" class="form-label-sm">Vehicle Pickup Street Address</label>
                <input type="text" class="form-control border-right-0 " name="vehicle_pickup_street_address"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('vehicle_pickup_street_address')?.hasError('required')}"
                    formControlName="vehicle_pickup_street_address">
                <div class="invalid-feedback">
                    Vehicle Pickup Street Address is a required field.
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="vehicle_pickup_apt_nos" class="form-label-sm">Vehicle Pickup Apt Number</label>
                <input type="text" class="form-control border-right-0" name="vehicle_pickup_apt_nos"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('vehicle_pickup_apt_nos')?.hasError('required')}"
                    formControlName="vehicle_pickup_apt_nos">
                <div class="invalid-feedback">
                    Vehicle Pickup Apt Number is a required field.
                </div>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="vehicle_counties_location" class="form-label-sm">Vehicle Counties Location</label>
                <input type="text" class="form-control border-right-0 " name="vehicle_counties_location"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('vehicle_counties_location')?.hasError('required')}"
                    formControlName="vehicle_counties_location">
                <div class="invalid-feedback">
                    Vehicle Counties Location is a required field.
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="vehicle_city_location" class="form-label-sm">Vehicle City Location</label>
                <input type="text" class="form-control border-right-0" name="vehicle_city_location"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('vehicle_city_location')?.hasError('required')}"
                    formControlName="vehicle_city_location">
                <div class="invalid-feedback">
                    Vehicle City Location is a required field.
                </div>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="vehicle_state_location" class="form-label-sm">Vehicle State Location</label>
                <input type="text" class="form-control border-right-0 " name="vehicle_state_location"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('vehicle_state_location')?.hasError('required')}"
                    formControlName="vehicle_state_location">
                <div class="invalid-feedback">
                    State is a required field.
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">

        <div class="col-6 mb-2">
            <div class="form-group mb-0">
                <label for="vehicle_pickup_zipcode" class="form-label-sm">Vehicle Pickup Zipcode</label>
                <input type="text" class="form-control border-right-0" name="vehicle_pickup_zipcode"
                    [ngClass]="{'is-invalid': vechileInfoFormGroup.get('vehicle_pickup_zipcode')?.hasError('required')}"
                    formControlName="vehicle_pickup_zipcode">
                <div class="invalid-feedback">
                    Zipcode is a required field.
                </div>
            </div>
        </div>
    </div>

</div>