<mat-toolbar class="header-bg">
  <div fxHide.gt-xs style="margin-right: 15px">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="logo">
    <img
      src="assets/images/Logo Fina.png"
      routerLink="/sell-car"
      height="115px"
    />
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/owner">BUY</a>
      </li>
      <li>
        <a routerLink="/account">SELL</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
