.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  align-items: flex-start;
  line-height: 25px;
  font-size: 30px;
  font-weight: 600;
}

.question-label {
  font-size: 20px;
  font-weight: 550;
  text-decoration: underline;
}

.question-label:after {
  content: ":";
}

.question-value {
  font-size: 15px;
  align-items: start;
}
.example-radio-button {
  margin: 5px;
}
.example-h2 {
  margin: 10px;
}

.car-selection-space {
  left: 5vw;
  top: 15vh;
  bottom: 25vh;
}
.car-Declaration {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: white;
}
